<!DOCTYPE html>
<html>
<head>
  <title>Formulario de Aerolíneas</title>
  <meta charset="UTF-8">
</head>
<body>
  <form action="/result" method="POST">
    <label for="aerolinea">Aerolíneas:</label><br>
    <label for="aerolinea1">OPERA_Aerolineas Argentinas:</label>
    <input type="text" id="aerolinea1" name="aerolinea1" value="0"><br>
    <label for="aerolinea2">OPERA_Aeromexico:</label>
    <input type="text" id="aerolinea2" name="aerolinea2" value="0"><br>
    <label for="aerolinea3">OPERA_Air Canada:</label>
    <input type="text" id="aerolinea3" name="aerolinea3" value="0"><br>
    <label for="aerolinea4">OPERA_Air France:</label>
    <input type="text" id="aerolinea4" name="aerolinea4" value="0"><br>
    <label for="aerolinea5">OPERA_Alitalia:</label>
    <input type="text" id="aerolinea5" name="aerolinea5" value="0"><br>
    <label for="aerolinea6">OPERA_American Airlines:</label>
    <input type="text" id="aerolinea6" name="aerolinea6" value="0"><br>
    <label for="aerolinea7">OPERA_Austral:</label>
    <input type="text" id="aerolinea7" name="aerolinea7" value="0"><br>
    <label for="aerolinea8">OPERA_Avianca:</label>
    <input type="text" id="aerolinea8" name="aerolinea8" value="0"><br>
    <label for="aerolinea9">OPERA_British Airways:</label>
    <input type="text" id="aerolinea9" name="aerolinea9" value="0"><br>
    <label for="aerolinea10">OPERA_Copa Air:</label>
    <input type="text" id="aerolinea10" name="aerolinea10" value="0"><br>
    <label for="aerolinea11">OPERA_Delta Air:</label>
    <input type="text" id="aerolinea11" name="aerolinea11" value="0"><br>
    <label for="aerolinea12">OPERA_Gol Trans:</label>
    <input type="text" id="aerolinea12" name="aerolinea12" value="0"><br>
    <label for="aerolinea13">OPERA_Grupo LATAM:</label>
    <input type="text" id="aerolinea13" name="aerolinea13" value="0"><br>
    <label for="aerolinea14">OPERA_Iberia:</label>
    <input type="text" id="aerolinea14" name="aerolinea14" value="0"><br>
    <label for="aerolinea15">OPERA_JetSmart SPA:</label>
    <input type="text" id="aerolinea15" name="aerolinea15" value="0"><br>
    <label for="aerolinea16">OPERA_K.L.M.:</label>
    <input type="text" id="aerolinea16" name="aerolinea16" value="0"><br>
    <label for="aerolinea17">OPERA_Lacsa:</label>
    <input type="text" id="aerolinea17" name="aerolinea17" value="0"><br>
    <label for="aerolinea18">OPERA_Latin American Wings:</label>
    <input type="text" id="aerolinea18" name="aerolinea18" value="0"><br>
    <label for="aerolinea19">OPERA_Oceanair Linhas Aereas:</label>
    <input type="text" id="aerolinea19" name="aerolinea19" value="0"><br>
    <label for="aerolinea20">OPERA_Plus Ultra Lineas Aereas:</label>
    <input type="text" id="aerolinea20" name="aerolinea20" value="0"><br>
    <label for="aerolinea21">OPERA_Qantas Airways:</label>
    <input type="text" id="aerolinea21" name="aerolinea21" value="0"><br>
    <label for="aerolinea22">OPERA_Sky Airline:</label>
    <input type="text" id="aerolinea22" name="aerolinea22" value="0"><br>
    <label for="aerolinea23">OPERA_United Airlines:</label>
    <input type="text" id="aerolinea23" name="aerolinea23" value="0"><br>

    <br>

    <label for="tipo-vuelo">Tipo de Vuelo:</label><br>
    <label for="tipo-vuelo1">Nacional:</label>
    <input type="text" id="tipo-vuelo1" name="tipo-vuelo1" value="0"><br>
    <label for="tipo-vuelo2">Internacional:</label>
    <input type="text" id="tipo-vuelo2" name="tipo-vuelo2" value="0"><br>

    <br>

    <label for="mes">Meses:</label><br>
    <label for="mes1">Mes1:</label>
    <input type="text" id="mes1" name="mes1" value="0"><br>
    <label for="mes2">Mes2:</label>
    <input type="text" id="mes2" name="mes2" value="0"><br>
    <label for="mes3">Mes3:</label>
    <input type="text" id="mes3" name="mes3" value="0"><br>
    <label for="mes4">Mes4:</label>
    <input type="text" id="mes4" name="mes4" value="0"><br>
    <label for="mes5">Mes5:</label>
    <input type="text" id="mes5" name="mes5" value="0"><br>
    <label for="mes6">Mes6:</label>
    <input type="text" id="mes6" name="mes6" value="0"><br>
    <label for="mes7">Mes7:</label>
    <input type="text" id="mes7" name="mes7" value="0"><br>
    <label for="mes8">Mes8:</label>
    <input type="text" id="mes8" name="mes8" value="0"><br>
    <label for="mes9">Mes9:</label>
    <input type="text" id="mes9" name="mes9" value="0"><br>
    <label for="mes10">Mes10:</label>
    <input type="text" id="mes10" name="mes10" value="0"><br>
    <label for="mes11">Mes11:</label>
    <input type="text" id="mes11" name="mes11" value="0"><br>
    <label for="mes12">Mes12:</label>
    <input type="text" id="mes12" name="mes12" value="0"><br>

    <br>

    <input type="submit" value="Enviar">
  </form>
</body>
</html>
